footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-row_btn {
  background-color: var(--set-color);
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
}

.keyboard-row_btn img {
  width: 23px;
}

.module {
  font-size: 11px;
  width: 65px;
}
